In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

df = pd.read_csv("CRSP-data.csv")

Première étape : nettoyage des données 

On élimine les données manquantes en considérant que le dataset a assez de données pour enlever celles incomplètes. 
On élimine les actions cotées en dehors du NYSE et de l'AMEX.

In [2]:
#Drop des NaN

df.dropna(axis=0,inplace=True)

#Drop des actions hors NYSE & AMEX

df = df[df["PRIMEXCH"].isin(["A","N"])]

In [3]:
df

         PERMNO      date PRIMEXCH        RET  semester
147       10006  19650129        N   0.053459         1
148       10006  19650226        N  -0.025970         1
149       10006  19650331        N   0.040248         1
150       10006  19650430        N   0.084821         1
151       10006  19650528        N  -0.043621         1
...         ...       ...      ...        ...       ...
1048450   67459  19890831        N   0.292683        50
1048451   67459  19890929        N   0.009434        50
1048452   67459  19891031        N  -0.138318        50
1048453   67459  19891130        N   0.152174        50
1048454   67459  19891229        N   0.028302        50

[592381 rows x 5 columns]